@model QuizPortal.Models.Dtos.CreateQuizViewDto
@{
    ViewData["Title"] = "Create Quiz";
}

<br />

<div class="text-center">
    <h1 class="display-4">Create Your Quiz</h1>
</div>

<br />
<br />

<form method="post" asp-action="CreateQuiz">
    @for (int i = 0; i < Model.ArticleList.Count; i++)
    {
        <input type="hidden" asp-for="ArticleList[i].ArticleId" />
        <input type="hidden" asp-for="ArticleList[i].Title" />
        <input type="hidden" asp-for="ArticleList[i].Description" />
    }

    <div class="container row offset-1" style="padding:20px;">
        <div class="col-1">
            <label>Article:</label>
        </div>

        <div class="col-8">
            @Html.DropDownListFor(m => m.SelectedArticleId,
                                    new SelectList(Model.ArticleList, "ArticleId", "Title"),
                                    "-- Select Article --",
                                    new { @class = "form-control", @id = "articleDropDown" })

        </div>
    </div>

    <div id="articleDesc" class="container col-8 offset-2" style="padding:30px;"></div>

    <br />

    @if (Model.ErrorMessage != null)
    {
        <div class="border container bg-danger col-6 offset-3" style="padding:30px; border-radius:20px;">
            <p style="text-align:center; color:white;">@Model.ErrorMessage</p>
        </div>
    }

    <br />

    <div id="questionSection" class="container">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        @for (int i = 0; i < Model.QuestionArr.Length; i++)
        {
            <div class="border container bg-light" style="padding:30px; border-radius:20px;">
                <div id="question+@i">
                    <div class="form-group row">
                        <div class="col-2">
                            <label>Question @(i+1):</label>
                        </div>

                        <div class="col-10">
                            <input class="form-control" asp-for="QuestionArr[i].QuestionText" />
                            <span asp-validation-for="QuestionArr[i].QuestionText" class="text-danger"></span>
                        </div>
                    </div>

                    <br /><br />

                    <div class="form-group row">
                        <div class="col-1"></div>

                        <div class="col-1" style="text-align:right">
                            <label>A) </label>
                        </div>

                        <div class="col-4">
                            <input class="form-control" asp-for="QuestionArr[i].AnswerA" />
                            <span asp-validation-for="QuestionArr[i].AnswerA" class="text-danger"></span>
                        </div>

                        <div class="col-1"></div>

                        <div class="col-1" style="text-align:right">
                            <label>B) </label>
                        </div>

                        <div class="col-4">
                            <input class="form-control" asp-for="QuestionArr[i].AnswerB" />
                            <span asp-validation-for="QuestionArr[i].AnswerB" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-1"></div>

                        <div class="col-1" style="text-align:right">
                            <label>C) </label>
                        </div>

                        <div class="col-4">
                            <input class="form-control" asp-for="QuestionArr[i].AnswerC" />
                            <span asp-validation-for="QuestionArr[i].AnswerC" class="text-danger"></span>
                        </div>

                        <div class="col-1"></div>

                        <div class="col-1" style="text-align:right">
                            <label>D) </label>
                        </div>

                        <div class="col-4">
                            <input class="form-control" asp-for="QuestionArr[i].AnswerD" />
                            <span asp-validation-for="QuestionArr[i].AnswerD" class="text-danger"></span>
                        </div>
                    </div>

                    <br /><br />

                    <div class="form-group row">
                        <div class="col-3 offset-5" style="text-align:right">
                            <label>Select the correct answer: </label>
                        </div>

                        <div class="col-4">
                            @Html.DropDownListFor(m => m.QuestionArr[i].CorrectAnswer,
                                                    new SelectList(new List<string> { "A", "B", "C", "D" }),
                                                    "-- Correct Answer --",
                                                    new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>

            <br /><br /><br />
        }

        <br />

        <div class="form-group row">
            <div class="col-4 offset-4">
                <button type="submit" class="btn btn-info form-control">Submit Quiz</button>
            </div>
        </div>
    </div>
</form>

<div style="visibility:hidden">
    @foreach (var a in Model.ArticleList)
    {
        <p id="@a.ArticleId">@a.Description</p>
    }
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Quiz.js"></script>
}
